<template>
<div>
  <QuizQuestion
  v-if="this.questions.length"
  v-bind:currentQuestion="this.questions[this.index]"
  v-on:nextQuestion="nextQuestion($event)"/>
</div>
</template>

<script>
import QuizQuestion from './QuizQuestion.vue'

export default {
  name: 'GamePlay',
  components: {
    QuizQuestion
  },
  data () {
    return {
      questions: {},
      index: 0,
      score: 0,
      prevAnswers: [],
      playerName: ''
    }
  },
  methods: {
    /**
     * Check if the the answer emitted form the the question component is correct.
     * If all the questions are answeared, route to the end game component.
     */
    nextQuestion (prevAnswer) {
      this.prevAnswers.push(prevAnswer)
      if (prevAnswer === this.questions[this.index].correct_answer) {
        this.score += 10
      }
      this.index++
      if (this.index > 9) {
        let endGameParams = { questions: this.questions,
          score: this.score,
          prevAnswers: this.prevAnswers,
          playerName: this.playerName }
        this.$router.replace({ name: 'over', params: { endGameParams: endGameParams } })
      }
    }
  },
  /**
   * Fetch questions form the open api.
   */
  mounted () {
    fetch('https://opentdb.com/api.php?amount=10')
      .then(response => {
        return response.json()
      })
      .then((obj) => {
        this.questions = obj.results
      })
    this.playerName = this.$route.params.playerName
  }
}
</script>

<style>
</style>
