<template>
<div class='align-middle d-flex justify-content-center'>
  <b-card
  class='mt-5 p-3 d-flex justify-content-center bg-light'
  style='max-width: 60em'
  title='Welcome to the Triva Game!'>
    <b-input-group prepend='Name' class="mt-3 p-3">
      <b-form-input v-model='playerName'></b-form-input>
      <b-input-group-append>
      <b-button v-on:click="startGame">Start Game</b-button>
      </b-input-group-append>
    </b-input-group>
  </b-card>
</div>

</template>

<script>
export default {
  name: 'game-menu',
  data () {
    return {
      playerName: ''
    }
  },
  methods: {
    /**
     * After the name is entered and the 'start game' button is clicked, start the game
     */
    startGame () {
      this.$router.push({ name: 'play', params: { playerName: this.playerName } })
    }
  }
}
</script>

<style>
</style>
