<template>
<div class='d-flex justify-content-center'>
  <b-card class='m-4 bg-light w-50'>
    <h2>Quiz Results</h2>
    <QuizResults v-bind:endGameParams='this.endGameParams'/>
    <b-button class='m-1' v-on:click='retry'>Retry!</b-button>
    <b-button class='m-1' v-on:click='menu'>Main menu</b-button>
  </b-card>
</div>
</template>

<script>
import QuizResults from './QuizResults.vue'

export default {
  name: 'GameOver',
  data () {
    return {
      endGameParams: {}
    }
  },
  components: {
    QuizResults
  },
  /**
   * When the component is mounted, recieve the data from the play component.
   */
  mounted () {
    this.endGameParams = this.$route.params.endGameParams
  },
  methods: {
    /**
     * Allow the player to try again with the same name and new questions.
     */
    retry () {
      this.$router.replace({ name: 'play', params: { playerName: this.endGameParams.playerName } })
    },
    /**
     * Go back to the main menu.
     */
    menu () {
      this.$router.go(-1)
    }
  }
}
</script>

<style>
</style>
