<template>
<div class='d-flex justify-content-center mt-5' align-self='center'>
  <b-card
    :header='decoder(this.currentQuestion.question)'
    style='max-width: 50rem;'
    class='mb-2 bg-light'
    :footer="footerText()"
  >
  <b-container class='w-50'>
    <b-row cols='2'>
      <b-col v-bind:key='alt' v-for='alt in this.getAlternatives()'>
        <b-button squared v-on:click='nextQuestion(alt)' class='m-1 p-2'>
          {{ decoder(alt) }}
        </b-button>
      </b-col>
    </b-row>
    </b-container>
  </b-card>
</div>
</template>

<script>
export default {
  name: 'QuizQuestion',
  props: [
    'currentQuestion'
  ],
  methods: {
    /**
     * Get the alternatives form the question, and 'shuffle' the right answer in.
     */
    getAlternatives () {
      let wrong = [...this.currentQuestion.incorrect_answers]
      let right = this.currentQuestion.correct_answer
      wrong.splice(Math.floor(Math.random() * wrong.length), 0, right)
      return wrong
    },
    /**
     * Decode hmtl entities, and make the text human readable.
     */
    decoder (str) {
      var textArea = document.createElement('textarea')
      textArea.innerHTML = str
      return textArea.value
    },
    /**
     * Emit to the parent that this question is answerd, and demand a new question.
     */
    nextQuestion (prevAnswer) {
      this.$emit('nextQuestion', prevAnswer)
    },
    /**
     * Returns the text for the footer.
     */
    footerText () {
      return 'Category: ' + this.currentQuestion.category + ' | Difficulty: ' + this.currentQuestion.difficulty
    }
  }
}
</script>

<style>
.card-header {
  font-size: large;
  font-weight: bold;
}
</style>
