<template>
<div>
    <b-container>
      <b-row class="p-3">
        <b-col>Player: {{ endGameParams.playerName }}</b-col>
        <b-col>Score: {{ endGameParams.score }} / 100</b-col>
      </b-row>
    </b-container>
      <b-card
      v-for='(question, i) in this.endGameParams.questions'
      v-bind:key='question'
      :title='decoder(question.question)'
      class='m-2'>
        <b-col>
          <p>Correct answer: {{ decoder(question.correct_answer) }}</p>
          <span>Your answer: </span>
          <span v-if='question.correct_answer === endGameParams.prevAnswers[i]' class='text-success'>
            {{ decoder(endGameParams.prevAnswers[i]) }}
          </span>
          <span v-else class='text-danger'>
            {{ decoder(endGameParams.prevAnswers[i]) }}
          </span>
        </b-col>
      </b-card>
</div>
</template>

<script>
export default {
  props: [
    'endGameParams'
  ],
  methods: {
    /**
     * Decode html entities to human readable text.
     */
    decoder (str) {
      var textArea = document.createElement('textarea')
      textArea.innerHTML = str
      return textArea.value
    }
  }
}
</script>

<style>
</style>
