<template>
  <div id="app">
    <nav class='navbar d-flex justify-content-center fixed-top navbar-dark bg-dark text-light'>
      <h1>Trivia Game</h1>
    </nav>
    <div class='p-2'>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
